body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;

}
#body{
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    margin-top: 0;

}

.profile {
    height: 200px;
    width: 80%;
    margin: 10px 30px;
}

.profile_photo{
    height: 150px;
    width: 150px;
    float: left;
    margin: 0 10px;
}
.profile_body{
    width: 100%;
    text-align: left;
    margin: 5px 15px;
}